/* These are general stylings that are used throughout the portfolio. */
h1 {
    font-family: impact;
    color: #36383b;
}

h2 {
    font-family: Haettenschweiler;
    font-weight: 400;
    color: white;
}

p {
    font-family: 'Arial Narrow Bold';
    font-size: 16px;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Header styling. */
#header {
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #2b2d2f;
}

#header-btns {
    display: inline-flex;
    padding-left: 30vw;
    position: relative;
}

@keyframes btn-transition {
    0% {
        color:white;
        animation-play-state: running;
    };
    100% {
        color:rgb(225, 170, 18);
        animation-play-state: paused;
    };
}

#header-btns h2{
    margin-right: 10px;
    height: 100%;
}

#header-btns h2:hover {
    animation-name: btn-transition;
    animation-duration: .5s;
    animation-direction: alternate;
    color: rgb(225, 170, 18);
    cursor: none;
}

#header-language-select {
    position: relative;
    margin-left: 10px;
}

.header-text {
    padding-left: 25vw;
}

/* Styling for the div wrapping the page's content (except header). */
#main {
    height: 100%;
}

#main-content {
    text-align: center;
    height:93vh;
}

/* Styling for the landing page */
@keyframes landing-fade-in {
    0% {opacity: 0};
    100% {opacity: 1};
}

#landing {
    padding-top: 25vh;
    animation-name: landing-fade-in;
    animation-duration: 1s;
}

#landing h1 {
    color: #2b2d2f;
    padding-top: 25px;
    font-family: Haettenschweiler;
}

#landing img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

/* Below is styling for the intro and About Me pages. */

#intro-main {
    display: none;
    padding-top: 100px;
}

#intro {
    background: #f7f3ef;
    height: 93vh;
}

#intro-main img {
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

/* Below is the styling for the Projects page. */
#projects {
    display: none;
    padding-top: 100px;
}

.project-box{
    text-align: initial;
    display: inline-flex;
    padding: 20px;
}

#projects img {
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    border-radius: 25%;
}

.project-image {
    text-align: center;
    width: 50%;
    margin: auto;
}

.project-text {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Below is the styling for the gallery. */
#gallery {
    display: none;
    padding-top: 100px;
}

#gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px 30px;
}

#gallery-grid img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
}

/* Below is all the styling for the comment section. */
#comment-content {
    display: none;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#comment-content h2{
    margin-top: 0%;
    padding-top: 0%;
    color: #2b2d2f;
}

#comments {
    background: #f7f3ef;
    height: 93vh;
}

.comment-style {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Comment footer button styling. */
.comment-btn {
    background-color: #2b2d2fad;
    width: 100vw;
    position: absolute;
    height: 7vh;
    transition: background-color .5s;
    cursor: none;
}

.comment-btn p{
    transition: color .5s;
}

.comment-btn:hover {
    background-color: #2b2d2f;
}

.comment-btn:hover p{
    color: rgb(225, 170, 18);
}